
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
     <section class="copyright">All content copyright <a href="<%- config.root %>"><%- config.title %></a> &copy; 2014 &bull; All rights reserved.</section>
  </div>
</footer>
