
body {
  padding-top: 0px;
}

.posts-header {
  text-transform: uppercase;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button 
{
  box-sizing: content-box;
  line-height: normal;
}

.post-search-form input.gsc-search-button.gsc-search-button-v2 {
  background-color: #18bc9c;
  border-color: #2ca78f;
}

.site-footer {
  padding: 50px 0 65px;
}

.site-footer .list-inline {
  margin: 0;
  padding: 0;
}

.site-footer .list-inline a {
  color: #2c3e50;
}

.site-footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

/* Pagination */

/* The main wrapper for our pagination links */
.paging {
  text-align: center;
  /*position: relative;*/
  /*width: 80%;
  max-width: 700px;
  margin: 4rem auto;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 1.3rem;*/
  color: #9EABB3;
  margin-top: 4rem;
}

.paging a {
  color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    /*position: absolute;
    display: inline-block;*/
    padding: 0 15px;
    border: #EBF2F6 2px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #9EABB3;
}