<% if(config.disqus_shortname) { %>
<div id="comment" class="comments-area">
  <h1 class="title"><a href="#disqus_comments" name="disqus_comments">Comments</a></h1>
  <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% } %>