<nav class="pagination" role="pagination">
    <% if (page.prev) { %>
    <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
        ← <%- page.prev.title %>
    </a>
    <% } %>

    <span class="page-number">•</span>

    <% if (page.next) { %>
    <a class="older-posts" href="<%- url_for(page.next.path) %>">
        <%- page.next.title %> →
    </a>
    <% } %>
</nav>