.ui-grid {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.ui-grid-vertical-bar {
  position: absolute;
  right: 0;
  width: 0;
}
.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar,
.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  width: 1px;
}
.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #d4d4d4;
}
.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #d4d4d4;
}
.ui-grid-top-panel {
  position: relative;
  border-bottom: 1px solid #d4d4d4;
  overflow: hidden;
  font-weight: bold;
  background: #f3f3f3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-grid-header:before,
.ui-grid-header:after {
  content: "";
  display: table;
  line-height: 0;
}
.ui-grid-header:after {
  clear: both;
}
.ui-grid-header-cell {
  position: relative;
  float: left;
  top: 0;
  bottom: 0;
  background-color: inherit;
  width: 0;
}
.ui-grid-header .ui-grid-vertical-bar {
  top: 0;
  bottom: 0;
}
.ui-grid-body {
  position: relative;
  overflow: hidden;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-grid-scrollbar-box {
  position: static;
}
.ui-grid-viewport {
  min-height: 20px;
  position: relative;
  overflow: hidden;
}
.ui-grid-viewport :focus {
  outline: none;
}
.ui-grid-canvas {
  position: relative;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fdfdfd;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f3f3f3;
}
.ui-grid-row:last-child .ui-grid-cell {
  border-bottom-color: #d4d4d4;
  border-bottom-style: solid;
}
.ui-grid-cell {
  overflow: hidden;
  position: relative;
  float: left;
  background-color: inherit;
}
.ui-grid-cell-contents {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui-grid-cell-contents:focus {
  outline: 0;
  background-color: #b3c4c7;
}
.ui-grid-scrollbar {
  top: 0;
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0px #ffffff;
  box-shadow: 0 0 0px #ffffff;
}
.ui-grid-scrollbar-vertical {
  width: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  right: 4px;
}
.ui-grid-scrollbar:hover {
  background: rgba(0, 0, 0, 0.55);
}
.ui-grid-scrollbar.ui-scrolling {
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
.ui-grid-pinned.left {
  float: left;
}
.ui-grid-pinned.right {
  float: right;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Scrollbar styles
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
