.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #C9DDE1;
}
.ui-grid-disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.ui-grid-selection-row-header-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.ui-grid-selection-row-header-buttons::before {
  opacity: 0.1;
}
.ui-grid-selection-row-header-buttons.ui-grid-row-selected::before,
.ui-grid-selection-row-header-buttons.ui-grid-all-selected::before {
  opacity: 1;
}
