
body {
  padding-top: 0px;
}

/*------------------------------------------
    Posts
--------------------------------------------*/

.posts-header {
  text-transform: uppercase;
}

.post-content {
  font-size: 18px;
}

.post-content p {
  margin: 1em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 60px;
}

/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}

/* Mailchimp form */

.mailchimp_form {
  margin-top: 50px;
}

/*------------------------------------------
    Google search form
--------------------------------------------*/

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button 
{
  box-sizing: content-box;
  line-height: normal;
}

.post-search-form input.gsc-search-button.gsc-search-button-v2 {
  background-color: #18bc9c;
  border-color: #2ca78f;
}

/*------------------------------------------
    Footer
--------------------------------------------*/

.site-footer {
  padding: 50px 0 65px;
}

.site-footer .list-inline {
  margin: 0;
  padding: 0;
}

.site-footer .list-inline a {
  color: #2c3e50;
}

.site-footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

/*------------------------------------------
    Pagination
--------------------------------------------*/

/* The main wrapper for our pagination links */
.paging {
  text-align: center;
  /*position: relative;*/
  /*width: 80%;
  max-width: 700px;
  margin: 4rem auto;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 1.3rem;*/
  color: #9EABB3;
  margin-top: 4rem;
}

.paging a {
  color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    /*position: absolute;
    display: inline-block;*/
    padding: 0 15px;
    border: #EBF2F6 2px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #9EABB3;
}


/* Hexo: Syntax Highlighter */

figure.highlight {
    background: #23241f;
    border-radius:0.3em;
    border:1px solid #e1e1e1;
    line-height:1.45em;
    font-size:.9em;
    margin-bottom:2.1em;
    /*color:#222;*/
    overflow:auto;
    white-space:pre;
    word-wrap:normal;
}
figure.highlight figcaption {
    padding: 7px 10px;
    font-size: .8em;
}
figure.highlight table {
    width:100%;
    margin: 0;
}
figure.highlight table > tbody > tr > td, figure.highlight table > tbody > tr > td {
    padding: 0;
    background: #23241f !important;
}
figure.highlight table > tbody > tr > td, figure.highlight table > tbody > tr > td > pre {
    background: #23241f !important;
}
figure.highlight table > tbody > tr > td.gutter {
    max-width: 40px;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
figure.highlight pre {
    border: none;
    margin: 0;
}


/* Theme: Solarized - Github
 * More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
 */
/*pre .comment,
pre .template_comment,
.diff pre .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
.css .rule pre .keyword,
pre .winutils,
.javascript pre .title,
.nginx pre .title,
pre .subst,
pre .request,
pre .status {
  color: #333;
  font-weight: bold
}

pre .number,
pre .hexcolor,
.ruby pre .constant {
  color: #099;
}

pre .string,
pre .tag pre .value,
pre .phpdoc,
.tex pre .formula {
  color: #d14
}

pre .title,
pre .id,
.coffeescript pre .params,
.scss pre .preprocessor {
  color: #900;
  font-weight: bold
}

.javascript pre .title,
.lisp pre .title,
.clojure pre .title,
pre .subst {
  font-weight: normal
}

pre .class pre .title,
.haskell pre .type,
.vhdl pre .literal,
.tex pre .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag pre .title,
pre .rules pre .property,
.django pre .tag pre .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
.lisp pre .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .symbol,
.ruby pre .symbol pre .string,
.lisp pre .keyword,
.tex pre .special,
pre .prompt {
  color: #990073
}

pre .built_in,
.lisp pre .title,
.clojure pre .built_in {
  color: #0086b3
}

pre .preprocessor,
pre .pragma,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

.diff pre .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}
*/


/* Github */

/*.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}*/